<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<style>
    body{
        background-color: white;
        background-image: url("https://imgs.search.brave.com/tXrRmIqxcD0fyev2NNvvnj6moQP6vRvPFj9YVq8LW6U/rs:fit:545:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC52/YktlbzI3QXhWRXVM/VjhNdmkxVlJnSGFH/YyZwaWQ9QXBp");
        background-repeat: no-repeat;
         background-position: center center;
         background-size: 400px;
        
        
    }
    .heading1{
       text-align: center;
       color: Red;
       font-size: 100px;
    }
    .error{
        font-size: 70px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:rgb(81, 79, 79);
        text-align: center;
        position: relative;
        top:53%;
        text-decoration: solid;

    }
    
</style>
<body>
    <h1 class="heading1">
        Oops!
    </h1>
    <h1 class="error">
        <%= message %>
    </h1>
</body>
</html>