<%- include("header") -%>
<div class="container" >
    <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Medicine Stock</h5>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, nobis!</p>
              <a href="/operations/medicine" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Vendor Management</h5>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, nobis!</p>
              <a href="/operations/vendor" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Order Medicine</h5>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, nobis!</p>
            <a href="/operations/order" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Query Medicine</h5>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, nobis!</p>
            <a href="/operations/query" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Generate Profit Report</h5>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, nobis!</p>
            <a href="/operations/report" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
</div>



<%- include("footer") -%>