<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrderList</title>
</head>
<body>
    <div class="box">
       
        <% orders.forEach(function(item){ %>
          <form action="/operations/vendor/order/accept/<%=item._id%>" method="get">
           <div class="item">
            <table>
              <tr>
                <td><p><%=  item.name  %></p></td>
                <td><p><%=  item.stock  %></p></td> 
                <td><button onClick="submit">Accept</button></td>
              </tr>
            </table>       
         <% }) %>
        </div>
</body>

